footer
    display: flex
    justify-content: space-around
    flex-shrink: 0
    border: 1px solid #ddd
    border-radius: 5px 5px 0 0
    margin: 5px 0 0 0
    padding: 10px

    nav.menu-bottom
        ul
            li.active
                border-bottom: 2px solid gray
            a
                text-decoration: none

    .social
        ul
            li
                display: inline-block

    .logo