.wrapper-gallery
    display: flex
    justify-content: flex-end
    width: 100%
    .gallery-categories
        width: 70%

.gallery-sidebar
    position: absolute
    max-width: 23%
    ul
        li
            list-style: disc
            a
                text-decoration: none