---
---
	
@import "normalize", "vars"

*
    margin: 0
    padding: 0

html,body
    height: 100%

body
    display: flex
    flex-direction: column
    margin: 0 auto
    max-width: 900px
    font-family: 'Roboto', sans-serif

.wrapper-main
    flex: 1 0 auto

li
    list-style: none

a, a:visited
    color: inherit

img
    max-width: 100%
    height: auto
    
@import "header", "gallery", "content", "footer", "media"